<p id="notice"><%= notice %></p>
<h1>Lista de Pins </h1>

<% @pins.each do |pin| %>
    
  <div class="col-md-3">
    <div class="thumbnail">  
      <%= pin.name %>
      <%= image_tag(pin.photo,:class => 'img-responsive') %>
      <%= pin.description %> <br>
      <div class="buttons" style="margin-top: 10px;margin-bottom: 10px;">
        <%= link_to 'Ver', pin ,:class => 'btn btn-primary'%>
        <%= link_to 'Editar', edit_pin_path(pin),:class => 'btn btn-primary' %>
        <%= link_to 'Borrar', pin, method: :delete, data: { confirm: 'Are you sure?' },:class => 'btn btn-primary' %>    
      </div>
     
    </div>
   </div>   

<% end %>


<br>

<%= link_to 'Nuevo Pin', new_pin_path %>
